* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lexend";
}
body {
    background: radial-gradient(rgb(37, 0, 61),rgb(0, 20, 33));
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.title {
    font-size: 28px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.849);
}
.box {
    width: 350px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(200, 198, 211, 0.107);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0 1px 2px rgb(167, 170, 186);
    box-shadow: 0 0 8px 2px rgba(176, 192, 255, 0.595);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
    transform: translateX(-400%);
}
.box.active {
    transform: translateX(0);
}

@media (max-width: 400px) {
    .box {
        width: 80%; 
        transform: translateX(150%); 
    }
    
    .box:nth-of-type(even) {
        transform: translateX(-150%);
    }

    .container {
        margin: 20px;
    }
}
